<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
        <style>
          img {
            width: 100%;
          }
        </style>
        <title>Template Uploads</title>


      </head>
      <!--  file upload start  -->


      <body class ="bg-info">
        <div class="container">
          <div class="row">
            <div class="col-md-6 m-auto">
              <h1 class="text-center display-4 my-4">Template update</h1>
         <form  action ="/update/<%-data._id%>" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="TemplateName">TemplateName</label>
            <input type="text" class="form-control" name="TemplateName" value='<%= data.TemplateName %> 'placeholder="TemplateName">
          </div>
        <!-- deleted the template image from form -->
        
        <div class="form-group">
          <label for="TemplateDescription">TemplateDescription</label>
          <input type="text" class="form-control" name="TemplateDescription"value='<%= data.TemplateDescription %>' placeholder="About the template">
        </div>
        <div class="form-group">
          <label for="Categories"> Categories</label>
          <input type="text" class="form-control" name="Categories" value='<%= data.Categories %>'placeholder="Retailers, Technology, Events">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="brand">brand</label>
            <input type="text" value='<%= data.Brand %>'class="form-control" name="Brand">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="brand">price</label>
            <input type="number" class="form-control" name="price">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Update template </button>
         </form>
    <hr>
             </div>
          </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    </body>
    
    </html>